preprocessed_data_pooling
audio_5700_train_dev
audio_5700_train_dev.tar.zip
speech_task
nohup.out
__pycache__
important_word_data_train
best_model_tuned_ones_v2.pth
best_model_tuned.pth
important_frame_train.txt
important_word_train_clean.txt
learning.log
nohup_.out
segments.txt
train_output_word_time.jsonl
train_word_time.jsonl
word_time.txt
best_model.pth
best_model_tuned_ones.pth
audio_5700_train_dev.tar.gz
